body {
    display: grid;
    grid-template-columns: 100px 800px 100px;
    grid-template-rows: 200px auto 200px;
    grid-template-areas: "titulo titulo titulo"
                         ". contenido ."
                         "footer footer footer";
}
#titulo{
    grid-area: titulo;
}
#contenido{
    display: grid;
    grid-area: contenido;
    grid-template-columns: 400px 400px;
}
#footer{
    grid-area: footer;
}